.usp-icons {
    font-size: 2.3rem;
}

.usp-text {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cta-btn {
	font-size: 1.5rem;
}

@include rwd('compact') {
	.usp-text {
		text-align: center;
	}
}